.one-card {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.one-card-box {
    width: 400px;
    min-height: 180px;
    background-color: rgba(250, 232, 215, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.names {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 10px 0 10px 0;
}

.names h2 {
    font-size: 2rem;
}

.one-card-buttons a {
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    color: white;
    display: inline-block;
    margin-top: 10px;
    border-radius: 15px;
}

.edit-one-card {
    background-color: green;
}

.edit-one-card:hover {
    background-color: rgb(0, 109, 0);
}

.delete-one-card {
    background-color: rgb(214, 25, 25);
}

.delete-one-card:hover {
    background-color: rgb(170, 20, 20);
}