section {
    height: calc(100vh - 70px - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.one-card-box {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    min-height: 200px;
    border-radius: 15px;
    background-color: rgba(250, 232, 215, 0.8);
}

.show-one-card {
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: whitesmoke;
    background: rgb(122, 188, 23);
    padding: 0.5em;
    border-radius: 10px;
}

.show-one-card:hover {
    background: rgb(141, 217, 26);
}

.names {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.names h2 {
    font-size: 2.5rem;
}

.one-card-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.one-card-buttons a  {
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 15px;
    color: white;
}

.previous-one-card{
    background: red;
}

.random-one-card {
    background: orange;
}

.next-one-card {
    background: green;
}

#first-name {
    display: block;
}

#second-name {
    display: none;
}


.flipped #first-name {
    display: none;
}

.flipped #second-name {
    display: block;
}
